{% extends 'base_not_authenticated.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h3 class="mb-4 font-weight-normal text-center">Logowanie</h3>
    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            <label for="inputPassword">Hasło</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            <label>
                <input type="checkbox" name="_remember_me"> Zapamiętaj mnie
            </label>
        </div>
    </div>
    <div class="row justify-content-center mb-2 mt-5">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">
                Zaloguj
            </button>
            <a class="btn btn-outline-primary" href="{{ path('app_register') }}">
                Zarejestruj
            </a>
        </div>
    </div>
</form>
{% endblock %}
